<%layout("./template/boilerplate.ejs")%>

<body>
       <%- include("./components/navbar.ejs") %> 
        
       <%- include("./components/cards.ejs") %>

       <%- include("./components/footer.ejs") %>
</body>
