<%layout("./template/boilerplate.ejs")%>

<body>        
       
       
       <%- include("./components/homeBar.ejs") %>
       <%- include("./components/homeMainBar.ejs") %>
       <%- include("./components/cards.ejs") %>
</body>
